@page "/about"

<PageTitle>About</PageTitle>

<div class="container-fluid">
    <div class="row text-center m-3">
        <h1 class="fw-light text-uppercase mb-3">About Us</h1>
        <h2 class="fw-light">Our Journey Through Time</h2>
        <img src="images/Assets/banner.png" class="img-fluid my-5" alt="Mr C's Emblem">
        <p class="h6 fw-light">Discover the stories behind each timeless piece. Our dedication to preserving history is only matched by our commitment to our customers.</p>
    </div>
</div>

<div class="container-fluid">
    <div class="timeline">
        <div class="line"></div>

        <!-- 1980 -->
        <div class="row m-3">
            <div class="col-md-6 d-flex align-items-center justify-content-center order-md-2">
                <h3 class="fw-light">The Beginning - 1980</h3>
            </div>
            <div class="col-md-6 order-md-1">
                <div class="card border-0">
                    <div class="card-body">
                        <p> In 1982, Mr. C launched a car rental company with an extraordinary fleet of well-preserved older vehicles, which by the 1990s, evolved into a sought-after vintage car rental service, tapping into the era's growing nostalgia for classic autos. His passion for maintaining classic cars transformed an ordinary rental service into a sanctuary for vintage car enthusiasts.</p>
                        <small>Started in 1982</small>
                        <img src="images/About/0.png" class="card-img-bottom" alt="The Vintage Beginning">
                    </div>
                </div>
            </div>
        </div>

        <!-- 1990 -->
        <div class="row m-3">
            <div class="col-md-6 d-flex align-items-center justify-content-center order-md-1">
                <h3 class="fw-light">Restoration Excellence - 1990</h3>
            </div>
            <div class="col-md-6 order-md-2">
                <div class="card border-0">
                    <div class="card-body">
                        <p>Beyond offering vintage car rentals, Mr. C's enterprise flourished as a bastion of restoration mastery. By 1990, it had not only a fleet of over 20 impeccably restored vintage cars available for hire but had also gained acclaim as a top-tier restoration and repair shop. Classic car enthusiasts and collectors frequently turned to Mr. C's expertise to breathe new life into their prized vehicles, assured by the unmatched craftsmanship and attention to detail.</p>
                        <small>Trusted Restoration & Rental Since 1990</small>
                        <img src="images/About/1.png" class="card-img-bottom" alt="Restoration Excellence">
                    </div>
                </div>
            </div>
        </div>

        <!-- 2000 -->
        <div class="row m-3">
            <div class="col-md-6 d-flex align-items-center justify-content-center order-md-2">
                <h3 class="fw-light">Centennial Milestone - 2000</h3>
            </div>
            <div class="col-md-6 order-md-1">
                <div class="card border-0">
                    <div class="card-body">
                        <p>The turn of the millennium was marked by a landmark achievement for Mr. C's as we celebrated the 1000th rental of our vintage collection. This pivotal moment was more than just a number—it was a reflection of decades of commitment to preserving automotive history, providing unparalleled service, and curating an experience that resonates with the nostalgia and elegance of bygone eras. As enthusiasts and patrons shared in the joy of this centennial milestone, Mr. C's solidified its reputation as not just a service, but a gateway to reliving the golden days of motoring.</p>
                        <small>Commemorating a Thousand Journeys - Year 2000</small>
                        <img src="images/About/2.png" class="card-img-bottom" alt="Centennial Milestone Celebration">
                    </div>
                </div>
            </div>
        </div>

        <!-- 2010 -->
        <div class="row m-3">
            <div class="col-md-6 d-flex align-items-center justify-content-center order-md-1">
                <h3 class="fw-light">Renaissance of the Classics - 2010</h3>
            </div>
            <div class="col-md-6 order-md-2">
                <div class="card border-0">
                    <div class="card-body">
                        <p>The year 2010 heralded a new era for Mr. C's, unveiling a state-of-the-art facility that married the elegance of classic automobiles with the sophistication of modern amenities. The new showroom and garage, an architectural gem, were designed to provide an immersive experience that captivates the senses and pays homage to the art of vintage automotive excellence. This renovation was a bold step into the future, ensuring that the legacy and allure of classic cars continue to thrive in a contemporary setting.</p>
                        <small>Revolutionary Showroom & Garage Unveiled in 2010</small>
                        <img src="images/About/3.png" class="card-img-bottom" alt="Renaissance of the Classics">
                    </div>
                </div>
            </div>
        </div>

        <!-- 2020 -->
        <div class="row m-3">
            <div class="col-md-6 d-flex align-items-center justify-content-center order-md-2">
                <h3 class="fw-light">Continuing the Legacy - 2020</h3>
            </div>
            <div class="col-md-6 order-md-1">
                <div class="card border-0">
                    <div class="card-body">
                        <p>In the present day, Mr. C's Vintage Vehicle Rental stands as a paragon of success in the world of classic automobilia, delighting enthusiasts and novices alike with a stunning repertoire of over 200 vintage vehicles. Each car, a masterpiece of engineering and history, is meticulously maintained to offer an authentic experience that transcends time. Mr. C's is not just about renting cars; it's about curating memorable moments and offering a voyage into the rich tapestry of automotive heritage.</p>
                        <small>Exemplary Vintage Collection - Celebrating Today's Success</small>
                        <img src="images/About/4.png" class="card-img-bottom" alt="Continuing the Legacy">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <Wordmark />
</div>
