@page "/about"

<PageTitle>About</PageTitle>

<div class="container">
    <div class="row">
        <div class="col text-center mt-4">
            <h2 class="fs-1 text-uppercase text-dark mb-3">About Us</h2>
            <h4 class="fw-bold">Our Journey Through Time</h4>
            <img src="images/banner.png" class="img-fluid d-block my-4" alt="Our Story">
            <h6 class="text-muted">Discover the stories behind each timeless piece. Our dedication to preserving history is only matched by our commitment to our customers.</h6>
        </div>
    </div>
</div>

<div class="container mt-5">
    <div class="timeline">
        <div class="line"></div>

        <!-- Vintage Car Rally Inauguration -->
        <div class="row timeline-movement">
            <div class="timeline-badge center-left">

            </div>
            <div class="col-sm-6 timeline-item">
                <div class="row">
                    <div class="col-sm-11">
                        <div class="timeline-panel debits">
                            <ul class="timeline-panel-ul">
                                <li><span class="amount">Vintage Car Rally Inauguration</span></li>
                                <li><span class="description">Introduced an annual vintage car rally that quickly became a cherished tradition among enthusiasts.</span></li>
                                <li><p><small class="text-muted">1995</small></p></li>
                                <div class="timeline-image">
                                    <img src="images/rally.jpg" class="img-fluid" alt="Vintage Car Rally">
                                </div>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- New Era of Restoration -->
        <div class="row timeline-movement">
            <div class="timeline-badge center-right">

            </div>
            <div class="col-sm-6 offset-sm-6 timeline-item">
                <div class="row">
                    <div class="col-sm-offset-1 col-sm-11">
                        <div class="timeline-panel credits">
                            <ul class="timeline-panel-ul">
                                <li><span class="amount">New Era of Restoration</span></li>
                                <li><span class="description">Launched a state-of-the-art restoration workshop, breathing new life into classic beauties.</span></li>
                                <li><p><small class="text-muted">2000</small></p></li>
                                <div class="timeline-image">
                                    <img src="images/restoration.jpg" class="img-fluid" alt="Restoration Workshop">
                                </div>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
