@page "/contact"

<PageTitle>Contact</PageTitle>

<div class="container-fluid">
    <div class="row text-center m-5">
        <h1 class="fw-light text-uppercase mb-3">Contact Us</h1>
        <h2 class="fw-light">We Are Here to Help</h2>
        <img src="images/Assets/banner.png" class="img-fluid my-5" alt="Contact">
        <p class="h6 fw-light">Found the car of your dreams? Need assistance? Fill out the form and we will get back to you as soon as possible.</p>
    </div>
</div>

<div class="container-fluid">
    <div class="row m-2 mt-5 py-5">
        <h2 class="display-5">Contact Form</h2>
        <form>
            <div>
                <label for="questionText" class="form-label">Enter your inquery:</label>
                <textarea id="questionText" name="question" class="form-control placeholder-form-text" rows="5" placeholder=""></textarea>
            </div>
            <div class="mt-3">
                <label for="phoneNumber" class="form-label">Phone number:</label>
                <input type="tel" id="phoneNumber" name="phoneNumber" class="form-control placeholder-form-text" placeholder="+0">
            </div>
            <div class="mt-3">
                <label for="email" class="form-label">E-mail:</label>
                <input type="email" class="form-control placeholder-form-text" id="email" name="email" placeholder="email@email.com" aria-describedby="emailHelp">
                <div id="emailHelp" class="form-text">We will never share your email with anyone else.</div>
            </div>
            <div class="my-3 form-check">
                <input type="checkbox" class="form-check-input" id="termsCheckbox" name="terms">
                <label class="form-check-label" for="termsCheckbox">I agree to the <a href="links">terms</a> of service.</label>
            </div>
            <button type="submit" class="btn btn-dark">Submit</button>
        </form>
    </div>
</div>

<FAQ />

<Wordmark />