@page "/"

<PageTitle>Home</PageTitle>

<div class="container-fluid p-0">
    <div class="row m-5">
        <div class="col pb-5">
            <h1 class="display-1 m-0 px-3">Welcome to Mr C's</h1>
            <h2 class="display-6 px-3">Your Destination for Renting Vintage Classics</h2>
            <img src="images/Home/home.png" class="img-fluid border border-dark rounded mt-3" alt="Workshop">
        </div>
    </div>

    <div class="row m-5">
        <Vehicles />
    </div>

    <div class="row m-5 p-0 g-5">
        <div class="col-lg-6">
            <a href="fleet" class="custom-link">
                <div class="card border-0">
                    <img src="images/Home/fleet.png" class="card-img rounded" alt="Car Fleet">
                    <div class="card-img-overlay rounded">
                        <div class="d-flex align-items-end h-100">
                            <div class="d-block">
                                <h3 class="display-3 custom-title">Rental Fleet</h3>
                                <h4 class="h2 custom-subtitle">Explore our collection of classics</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-lg-6">
            <a href="testimonials" class="custom-link">
                <div class="card border-0">
                    <img src="images/Home/testimonials.png" class="card-img rounded" alt="Example of Testimonials">
                    <div class="card-img-overlay rounded">
                        <div class="d-flex align-items-end h-100">
                            <div class="d-block">
                                <h3 class="display-3 custom-title">Reviews</h3>
                                <h4 class="h2 custom-subtitle">See what our valued customers say</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-lg-6">
            <a href="about" class="custom-link">
                <div class="card border-0">
                    <img src="images/Home/about.png" class="card-img rounded" alt="Old Picture of Mr C's">
                    <div class="card-img-overlay rounded">
                        <div class="d-flex align-items-end h-100">
                            <div class="d-block">
                                <h3 class="display-3 custom-title">About Mr C's</h3>
                                <h4 class="h2 custom-subtitle">Our History - Our Future</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-lg-6">
            <a href="contact" class="custom-link">
                <div class="card border-0">
                    <img src="images/Home/contact.png" class="card-img rounded" alt="Retro Phone">
                    <div class="card-img-overlay rounded">
                        <div class="d-flex align-items-end h-100">
                            <div class="d-block">
                                <h3 class="display-3 custom-title">Contact</h3>
                                <h4 class="h2 custom-subtitle">Need assistance? We are here to help</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>

    <Wordmark />
</div>
