@page "/"

<PageTitle>Home</PageTitle>

<div class="card text-white rounded-0 border-0">
    <div class="card-body p-0">
        <img src="images/home-image.jpg" class="img-fluid rounded-0" alt="Two vintage cars in a field of grass" />
        <div class="card-img-overlay overflow-auto">
            <h1 class="card-title ps-4 pt-3 text-outline fw-bold">Mr C's Classic Cars Collection</h1>
            <h4 class="card-text ps-4 text-outline">Embrace the Legacy – Your Destination for Renting Timeless Vintage Vehicles</h4>
        </div>
    </div>
</div>

<div class="container-fluid p-4">
    <div class="row">
        <div class="col-xl">
            <div class="card text-white">
                <img src="images/home-booking-engine.jpg" class="card-img" alt="Gears">
                <div class="card-img-overlay d-flex flex-column justify-content-end" style="background-color: rgba(0, 0, 0, 0.5)">
                    <div class="mt-auto px-3 overflow-auto scrollbar">
                        <h2 class="card-title text-uppercase fw-bold">Booking Engine</h2>
                        <p class="card-text">Browse our vehicles and select your ride.</p>
                    </div>
                    <div class="card-footer p-3 pb-0 border-0">
                        <NavLink class="btn btn-sm btn-light w-100" href="booking-engine">
                            Explore
                        </NavLink>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl">
            <div class="card text-white">
                <img src="images/home-fleet.jpg" class="card-img" alt="Vintage Car Fleet">
                <div class="card-img-overlay d-flex flex-column justify-content-end" style="background-color: rgba(0, 0, 0, 0.5)">
                    <div class="mt-auto px-3 overflow-auto scrollbar">
                        <h2 class="card-title text-uppercase fw-bold">Fleet</h2>
                        <p class="card-text">Explore our collection of timeless classics.</p>
                    </div>
                    <div class="card-footer p-3 pb-0 border-0">
                        <NavLink class="btn btn-sm btn-light w-100" href="fleet">
                            Explore
                        </NavLink>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl">
            <div class="card text-white">
                <img src="images/home-contact.jpg" class="card-img" alt="Retro Telephone">
                <div class="card-img-overlay d-flex flex-column justify-content-end" style="background-color: rgba(0, 0, 0, 0.5)">
                    <div class="mt-auto px-3 overflow-auto scrollbar">
                        <h2 class="card-title text-uppercase fw-bold">Contact</h2>
                        <p class="card-text">Need assistance? We are here to help.</p>
                    </div>
                    <div class="card-footer p-3 pb-0 border-0">
                        <NavLink class="btn btn-sm btn-light w-100" href="contact">
                            Explore
                        </NavLink>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
