@page "/"

<PageTitle>Home</PageTitle>

<div class="container-fluid p-0">
    <div class="row banner mb-3">
        <div class="col-lg-5 order-lg-2 p-5">
            <img src="images/Home/car.png" class="img-fluid pt-5" alt="Mr C's Workshop">
        </div>
        <div class="col-lg-7 d-flex align-items-center order-lg-1 p-5">
            <div class="d-block">
                <h1 class="display-4 mb-0">Welcome to Mr C's</h1>
                <h2 class="display-6"><i class="bi-dash display-6"></i>A Collection of Classics</h2>
                <p class="h4 fw-light mt-5 pe-5">Step into a bygone era with Mr C's distinguished collection of classic cars. Experience the artistry of timeless design and superior engineering.</p>
            </div>
        </div>
    </div>
</div>

<NavigationCards />

<Vehicles />

<CurrentDeals />

<Wordmark />

