@page "/"

<PageTitle>Home</PageTitle>

<div class="container-fluid p-0">
    <div class="row m-5">
        <div class="col">
            <h1 class="display-5 m-0 px-3">Mr C's Classic Car Rental</h1>
            <h2 class="text-muted px-3">Embrace the Legacy <i class="bi-dash-lg"></i> Your Destination for Renting Vintage Classics</h2>
            <img src="images/Home/home.png" class="img-fluid border border-dark rounded-4 mt-3" alt="Banner">
        </div>
    </div>
    <div class="row m-5 py-5">
        <div class="col-md-5">
            <div class="row">
                <div class="mt-5 px-4">
                    <h3 class="fw-light m-0">Rental Fleet</h3>
                    <a href="fleet">
                        <h4 class="">Explore our collection of timeless classics.</h4>
                    </a>
                </div>
                <a href="fleet">
                    <img src="images/Home/fleet.png" class="img-fluid border border-dark rounded-4" alt="Car Fleet">
                </a>
            </div>
            <div class="row">
                <div class="mt-5 px-4">
                    <h3 class="fw-light m-0">Reviews</h3>
                    <a href="testimonials">
                        <h4 class="">See what our valued customers have to say.</h4>
                    </a>
                </div>
                <a href="testimonials">
                    <img src="images/Home/testimonials.png" class="img-fluid border border-dark rounded-4" alt="Example of Testimonials">
                </a>
            </div>
            <div class="row">
                <div class="mt-5 px-4">
                    <h3 class="fw-light m-0">Contact</h3>
                    <a href="contact">
                        <h4 class="">Need assistance? We are here to help.</h4>
                    </a>
                </div>
                <a href="contact">
                    <img src="images/Home/contact.png" class="img-fluid border border-dark rounded-4" alt="Retro Phone">
                </a>
            </div>
        </div>
    </div>
    <Wordmark />
</div>
