@page "/"

<PageTitle>Home</PageTitle>

<div class="container-fluid p-0">
    <div class="row m-5 py-5">
        <div class="col-12 col-lg-6 d-flex align-items-end mt-3">
            <div class="d-block">
                <h1>Mr C's Classic Car Rental</h1>
                <h2 class="fw-light">Embrace the Legacy - Your Destination for Vintage Classics</h2>
            </div>
        </div>
        <div class="col-12 col-lg-6 mt-3">
            <img src="/images/Home/home.png" alt="Classic Car" class="img-fluid border border-dark rounded">
        </div>
    </div>
    <div class="row m-5 py-5">
        <div class="col-12 col-lg-4">
            <div class="card border-0">
                <div class="card-body">
                    <h3 class="card-title">Rental Fleet</h3>
                    <a href="fleet">
                        <h4 class="card-text">Explore our collection of timeless classics.</h4>
                    </a>
                </div>
                <a href="fleet">
                    <img class="card-img-bottom border border-dark rounded" src="images/Home/fleet.png" alt="Car Fleet">
                </a>
            </div>
        </div>
        <div class="col-12 col-lg-4">
            <div class="card border-0">
                <div class="card-body">
                    <h3 class="card-title">Reviews</h3>
                    <a href="testimonials">
                        <h4 class="card-text">See what our valued customers have to say</h4>
                    </a>
                </div>
                <a href="testimonials">
                    <img class="card-img-bottom border border-dark rounded" src="images/Home/testimonials.png" alt="Car Fleet">
                </a>
            </div>
        </div>
        <div class="col-12 col-lg-4">
            <div class="card border-0">
                <div class="card-body">
                    <h3 class="card-title">Contact</h3>
                    <a href="contact">
                        <h4 class="card-text">Need assistance? We are here to help.</h4>
                    </a>
                </div>
                <a href="contact">
                    <img class="card-img-bottom border border-dark rounded" src="images/Home/contact.png" alt="Car Fleet">
                </a>
            </div>
        </div>
    </div>
    <Wordmark />
</div>
