@page "/"

<PageTitle>Home</PageTitle>

<div class="container-fluid p-0">
    <div class="row m-5">
        <div class="col pb-5">
            <h1 class="display-1 m-0 px-3">Welcome to Mr C's</h1>
            <h2 class="display-6 px-3">Your Destination for Renting Vintage Classics</h2>
            <img src="images/Home/home.png" class="img-fluid border border-dark rounded-4 mt-3" alt="Workshop">
        </div>
    </div>

    <div class="row m-5">
        <Vehicles />
    </div>

    <div class="row m-5 g-5">
        <div class="col-lg-6">
            <h3 class="fw-light m-0">Rental Fleet</h3>
            <a href="fleet">
                <h4 class="">Explore our collection of timeless classics</h4>
            </a>
            <a href="fleet">
                <img src="images/Home/fleet.png" class="img-fluid border border-dark rounded-4" alt="Car Fleet">
            </a>
        </div>
        <div class="col-lg-6">
            <h3 class="fw-light m-0">Reviews</h3>
            <a href="testimonials">
                <h4 class="">See what our valued customers say</h4>
            </a>
            <a href="testimonials">
                <img src="images/Home/testimonials.png" class="img-fluid border border-dark rounded-4" alt="Example of Testimonials">
            </a>
        </div>
        <div class="col-lg-6">
            <h3 class="fw-light m-0">About Mr C's</h3>
            <a href="about">
                <h4 class="">Our History - Our Future</h4>
            </a>
            <a href="about">
                <img src="images/Home/about.png" class="img-fluid border border-dark rounded-4" alt="Old Picture of Mr C's">
            </a>
        </div>
        <div class="col-lg-6">
            <h3 class="fw-light m-0">Contact</h3>
            <a href="contact">
                <h4 class="">Need assistance? We are here to help</h4>
            </a>
            <a href="contact">
                <img src="images/Home/contact.png" class="img-fluid border border-dark rounded-4" alt="Retro Phone">
            </a>
        </div>
    </div>

    <Wordmark />
</div>
