@page "/links"

<PageTitle>Links</PageTitle>

<div class="container-fluid vh-100 p-0">
    <div class="row h-100 mx-1">
        <div class="col text-center mt-4">
            <h2 class="fs-1 text-uppercase text-dark mb-3">Links</h2>
            <h4 class="fw-bold">This Page Is a Placeholder to Demonstrate Navigation Functionality</h4>
            <img src="images/Assets/banner.png" class="img-fluid d-block" alt="Links">
            <h6 class="text-muted">Features like social media buttons, redirect here to show their operational state.</h6>
            <h6 class="text-muted">It is simply a visual representation to indicate a successful link or button press.</h6>
        </div>
        <div class="col-12 d-flex align-items-end ">
            <img src="images/Assets/under-construction.png" class="img-fluid w-100" alt="Under Construction" />
        </div>
    </div>
</div>
