@page "/links"

<PageTitle>Links</PageTitle>

<div class="container-fluid p-5">
    <div class="row">
        <div class="col">
            <h2 class="fs-1 text-uppercase">Demo Placeholder Page</h2>
            <h4 class="pt-5">This page is a placeholder to demonstrate navigation functionality.</h4>
            <h4>Features like social media buttons, redirect here to show their operational state.</h4>
            <h4>It is simply a visual representation to indicate a successful link or button press.</h4>
        </div>
    </div>
</div>

<div class="container-fluid p-0 m-0">
    <div class="row p-0 m-0">
        <div class="col d-flex justify-content-center align-items-center">
            <img src="images/under-construction.png" class="img-fluid"/>
        </div>
    </div>
</div>
