@page "/links"

<PageTitle>Links</PageTitle>

<div class="container-fluid p-5">
    <div class="row">
        <div class="col">
            <h2 class="fs-1 text-uppercase">Demo Placeholder Page</h2>
            <h4 class="pt-5 text">
                This page serves as a temporary destination for demonstration purposes. 
                Certain buttons or features, such as social media links, direct users here to showcase functional redirections. 
                This is simply a visual representation to indicate a successful link or button press.
            </h4>
        </div>
    </div>
</div>
<div class="container-fluid p-5">
    <div class="row">
        <div class="col d-flex justify-content-center align-items-center">
            <img src="images/under-construction.png" class="img-fluid"/>
        </div>
    </div>
</div>
