@page "/placeholder"

<PageTitle>Links</PageTitle>

<div class="container-fluid p-5">
    <div class="row">
        <div class="col">
            <h2 class="fs-1 text-uppercase">Demo Placeholder Page</h2>
            <h4 class="pt-5 text">
                This page serves as a temporary destination for demonstration purposes. 
                Certain buttons or features, such as social media links, direct users here to showcase functional redirections. 
                This is simply a visual representation to indicate a successful link or button press.
            </h4>
        </div>
    </div>
</div>

<div class="container-fluid p-4">
    <div class="row">
        <div class="col-xl">
            <div class="card text-white border-dark">
                <img src="images/home-booking-engine.jpg" class="card-img" alt="Gears">
                <div class="card-img-overlay d-flex flex-column justify-content-end" style="background-color: rgba(0, 0, 0, 0.5)">
                    <div class="mt-auto px-3 overflow-auto scrollbar">
                        <h2 class="card-title text-uppercase fw-bold">Booking Engine</h2>
                        <p class="card-text">Browse our vehicles and select your ride.</p>
                    </div>
                    <div class="card-footer p-3 pb-0 border-0">
                        <NavLink class="btn btn-sm btn-light w-100" href="booking-engine">
                            Explore
                        </NavLink>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl">
            <div class="card text-white border-dark">
                <img src="images/home-fleet.jpg" class="card-img" alt="Vintage Car Fleet">
                <div class="card-img-overlay d-flex flex-column justify-content-end" style="background-color: rgba(0, 0, 0, 0.5)">
                    <div class="mt-auto px-3 overflow-auto scrollbar">
                        <h2 class="card-title text-uppercase fw-bold">Fleet</h2>
                        <p class="card-text">Explore our collection of timeless classics.</p>
                    </div>
                    <div class="card-footer p-3 pb-0 border-0">
                        <NavLink class="btn btn-sm btn-light w-100" href="fleet">
                            Explore
                        </NavLink>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl">
            <div class="card text-white border-dark">
                <img src="images/home-contact.jpg" class="card-img" alt="Retro Telephone">
                <div class="card-img-overlay d-flex flex-column justify-content-end" style="background-color: rgba(0, 0, 0, 0.5)">
                    <div class="mt-auto px-3 overflow-auto scrollbar">
                        <h2 class="card-title text-uppercase fw-bold">Contact</h2>
                        <p class="card-text">Need assistance? We are here to help.</p>
                    </div>
                    <div class="card-footer p-3 pb-0 border-0">
                        <NavLink class="btn btn-sm btn-light w-100" href="contact">
                            Explore
                        </NavLink>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
