@page "/"
@using System.Linq; <!-- Nödvändig? -->
@using car_rental_business_logic.Classes;
@using car_rental_common.Classes; <!-- Nödvändig? -->
@using car_rental_common.Interfaces;
@using car_rental_common.Enums;
@using car_rental_data.Interfaces; <!-- Nödvändig? -->

<!-- Nödvändig? (nedan) -->
@inject IData DataService
@inject BookingProcessor bp

<PageTitle>Index</PageTitle>

<h3>Bookings</h3>
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">RegNo</th>
            <th scope="col">Customer</th>
            <th scope="col">Km Rented</th>
            <th scope="col">Rented Date</th>
            <th scope="col">Returned</th>
            <th scope="col">Cost</th>
            <th scope="col">Status</th>
        </tr>
    </thead>
    <tbody>
        

        <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td></td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td colspan="2">Larry the Bird</td>
            <td></td>
        </tr>
    </tbody>
</table>

@code {
    
}