@page "/placeholder"

<PageTitle>Work in progress</PageTitle>

<div class="container-fluid d-flex align-items-center justify-content-center h-100" style="height:100%;">
    <div class="row h-100">
        <div class="col">
            <h1 class="p-5 text-uppercase">Work in progress - Nothing to see here!</h1>
            <p class="bi-sign-dead-end d-flex align-items-center justify-content-center h-100 text-warning" style="font-size: 20em;"></p>
        </div>
    </div>
</div>
