@code {
    [Parameter] public string Message { get; set; }
    [Parameter] public EventCallback OnClose { get; set; }
}

@if (!string.IsNullOrEmpty(Message))
{
    <div class="modal-overlay">
        <div class="modal-content">
            <div class="alert alert-warning fs-5" role="alert">
                @Message
                <button @onclick="OnClose" class="btn-close" aria-label="Close"></button>
            </div>
        </div>
    </div>
}
