@inherits LayoutComponentBase

<div class="container-fluid p-0">

    <!-- Navigation Bar -->
    <nav class="navbar navbar-expand-lg" data-bs-theme="light">
        <div class="container-fluid d-flex justify-content-between pe-2 p-0">
            <div class="container-fluid d-flex justify-content-between">
                <a class="navbar-brand" href="#">
                    <img src="images/Assets/logo-sm.png" alt="Mr C's Car Rental Logo" class="logo">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav ms-3">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/fleet">Fleet</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/testimonials">Testimonials</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contact">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Booking System Button -->
    <div class="d-flex justify-content-end w-100 p-3">
        <div class="d-block">
            <a class="btn btn-sm btn-dark" href="/booking-system">Booking System</a>
            <div class="text-center fst-italic">
                <small>for demo purposes</small>
            </div>
        </div>
    </div>

    <!-- Body -->
    <div class="d-flex justify-content-center">
        <div class="row w-100">
            @Body
        </div>
    </div>

    <!-- Bottom Row -->
    <div class="row">
        <div class="d-flex justify-content-between bg-dark text-white fixed-bottom">
            <p class="my-1">Oakhill Ridge 5, Lakeview | (+1) 55-55 55 50</p>
            <p class="my-1">Mr C's Vehicle Rental Co. 1983 ®</p>
        </div>
    </div>

</div>
