@inherits LayoutComponentBase

<div class="container-fluid">
    <div class="row">
        <div class="col p-0">
            <div class="page">
                <div class="sidebar">
                    <NavMenu />
                </div>
                <main class="border-start border-secondary">
                    <div class="top-row px-4 border-bottom border-secondary">
                        <a class="btn btn-outline-secondary border-0" href="placeholder">
                            <span class="bi-youtube px-1" style="font-size: 2rem"></span>
                        </a>
                        <a class="btn btn-outline-secondary border-0" href="placeholder">
                            <span class="bi-twitter px-1" style="font-size: 2rem"></span>
                        </a>
                        <a class="btn btn-outline-secondary border-0" href="placeholder">
                            <span class="bi-facebook px-1" style="font-size: 2rem"></span>
                        </a>
                        <a class="btn btn-outline-secondary border-0" href="placeholder">
                            <span class="bi-instagram px-1" style="font-size: 2rem"></span>
                        </a>
                    </div>
                    <div class="content p-0 pb-4 m-0 mb-4">
                        @Body
                    </div>
                </main>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid p-0 fixed-bottom">
    <div class="row">
        <div class="col">
            <div class="bottom-row p-3 text-light">
                <p class="m-0">C.C.C.C. Company Ltd. 2023 ®</p>
                <p class="m-0">Oakhill Ridge 5, Lakeview | (+1) 55-55 55 50</p>
                <NavLink class="btn btn-sm btn-light" href="placeholder">
                    Help
                </NavLink>
            </div>
        </div>
    </div>
</div>
