<div class="container-fluid">
    <div class="row m-2 mt-5 py-5">
        <h2 class="display-5">Current Deals</h2>
        <h3 class="sub-heading">Don't miss out on our exclusive rental deals - ride in style!</h3>
        
        <!-- First deal -->
        <div class="col-lg-4 col-md-12 py-3">
            <a href="links">
                <div class="card h-100 shadow-lg">
                    <img src="/images/Fleet/luxury.jpg" class="card-img-top" alt="Luxury Car Image">
                    <div class="card-body">
                        <h5 class="card-title"><strong>Luxurious Getaway for Less</strong></h5>
                        <p class="card-text"><em>Elevate Your Journey with Opulent Comfort</em><br>Savor the lavishness of our top-tier luxury vehicles and revel in the sophistication they bring to your travel. Enjoy a 15% discount and experience grandeur on the road for less.</p>
                    </div>
                    <div class="d-flex justify-content-between align-items-center p-3">
                        <small class="text-warning"><i class="bi bi-award-fill"></i> Claim Deal</small>
                        <small>Offer valid until 15 Nov 2023</small>
                    </div>
                </div>
            </a>
        </div>

        <!-- Second deal -->
        <div class="col-lg-4 col-md-12 py-3">
            <a href="links">
                <div class="card h-100 shadow-lg">
                    <img src="/images/Fleet/winter.jpg" class="card-img-top" alt="Winter Car Image">
                    <div class="card-body">
                        <h5 class="card-title"><strong>Special Winter Wonderland Drive</strong></h5>
                        <p class="card-text"><em>Warm Up Your Winter Travels with Stylish Sedans</em><br>This winter, let our sedans be your companion on frosty roads with a 20% discount. It’s more than just a car rental—it's a promise of cozy journeys and serene drives.</p>
                    </div>
                    <div class="d-flex justify-content-between align-items-center p-3">
                        <small class="text-warning"><i class="bi bi-award-fill"></i> Claim Deal</small>
                        <small>Offer valid until 31 Dec 2023</small>
                    </div>
                </div>
            </a>

        </div>

        <!-- Third deal -->
        <div class="col-lg-4 col-md-12 py-3">
            <a href="links">
                <div class="card h-100 shadow-lg">
                    <img src="/images/Fleet/summer.jpg" class="card-img-top" alt="Summer Car Image">
                    <div class="card-body">
                        <h5 class="card-title"><strong>Summer Roadtrip Adventure Awaits</strong></h5>
                        <p class="card-text"><em>Embrace the Sun with Our Summer Convertible Special</em><br>Plan for the ultimate summer with a 10% discount on convertibles. Add excitement to your summer adventures with the wind in your hair and the horizon ahead.</p>
                    </div>
                    <div class="d-flex justify-content-between align-items-center p-3">
                        <small class="text-warning"><i class="bi bi-award-fill"></i> Claim Deal</small>
                        <small>Offer valid until 31 Mars 2024</small>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
