<div class="container-fluid">
    <div class="row m-1">
        <div class="col-md-4 p-3">
            <a href="about" class="nav-card">
                <div class="card">
                    <img src="images/Home/home.png" class="card-img" alt="Picture of Mr C's in the 80's'">
                    <div class="card-img-overlay">
                        <h3 class="display-4 overlay-title">About</h3>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-4 p-3">
            <a href="testimonials" class="nav-card">
                <div class="card">
                    <img src="images/Home/testimonials.png" class="card-img" alt="Example of Testimonials">
                    <div class="card-img-overlay">
                        <h3 class="display-4 overlay-title">Reviews</h3>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-4 p-3">
            <a href="contact" class="nav-card">
                <div class="card">
                    <img src="images/Home/contact.png" class="card-img" alt="Retro Phone">
                    <div class="card-img-overlay">
                        <h3 class="display-4 overlay-title">Contact</h3>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
