<div class="container">
    <div class="row d-flex justify-content-center text-center">
        <img src="images/Assets/wordmark-light.png" class="wordmark" />
        <h5 class="display-6 text-muted fst-italic fw-light">A Collection of Classics</h5>
    </div>
</div>