@inherits LayoutComponentBase

<div class="container-fluid">
    <div class="row">
        <div class="col p-0">
            <div class="page">
                <div class="sidebar">
                    <NavMenu />
                </div>
                <main class="border-start border-dark">
                    <div class="top-row px-4 border-bottom border-dark">
                        <h1 class="pt-1">Mr C's Classic Cars Collection</h1>
                    </div>
                    <div class="content p-0 pb-4 m-0 mb-4">
                        @Body
                    </div>
                </main>
            </div>
        </div>
    </div>
</div>
